<a href="https://colab.research.google.com/github/Avichay3/Full-training/blob/main/Copy_of_Pandas_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas puzzles

Enjoy the puzzles!

## Importing pandas

### Getting started and checking your pandas setup

Difficulty: *easy*

**1.** Import pandas under the name `pd`.

In [1]:
import pandas as pd

**2.** Print the version of pandas that has been imported.

In [ ]:
pd.__version__

'2.2.2'

**3.** Print out all the version information of the libraries that are required by the pandas library.

In [2]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit                : d9cdd2ee5a58015ef6f4d15c7226110c9aab8140
python                : 3.12.12.final.0
python-bits           : 64
OS                    : Linux
OS-release            : 6.6.105+
Version               : #1 SMP Thu Oct  2 10:42:05 UTC 2025
machine               : x86_64
processor             : x86_64
byteorder             : little
LC_ALL                : en_US.UTF-8
LANG                  : en_US.UTF-8
LOCALE                : en_US.UTF-8

pandas                : 2.2.2
numpy                 : 2.0.2
pytz                  : 2025.2
dateutil              : 2.9.0.post0
setuptools            : 75.2.0
pip                   : 24.1.2
Cython                : 3.0.12
pytest                : 8.4.2
hypothesis            : None
sphinx                : 8.2.3
blosc                 : None
feather               : None
xlsxwriter            : None
lxml.etree            : 5.4.0
html5lib              : 1.1
pymysql               : None
psycopg2              : 2.9.11
jinja2                : 3.1.6
IPython               : 7.34.0
pandas_datareader     : 0.10.0
adbc-driver-postgresql: None
adbc-driver-sqlite    : None
bs4                   : 4.13.5
bottleneck            : 1.4.2
dataframe-api-compat  : None
fastparquet           : None
fsspec                : 2025.3.0
gcsfs                 : 2025.3.0
matplotlib            : 3.10.0
numba                 : 0.60.0
numexpr               : 2.14.1
odfpy                 : None
openpyxl              : 3.1.5
pandas_gbq            : 0.29.2
pyarrow               : 18.1.0
pyreadstat            : None
python-calamine       : None
pyxlsb                : None
s3fs                  : None
scipy                 : 1.16.3
sqlalchemy            : 2.0.44
tables                : 3.10.2
tabulate              : 0.9.0
xarray                : 2025.10.1
xlrd                  : 2.0.2
zstandard             : 0.25.0
tzdata                : 2025.2
qtpy                  : None
pyqt5                 : None

## DataFrame basics

### A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrames

Difficulty: *easy*

Note: remember to import numpy using:
```python
import numpy as np
```

Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```
(This is just some meaningless data I made up with the theme of animals and trips to a vet.)

**4.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [ ]:
import numpy as np
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data,index = labels)
print(df.head())

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no

**5.** Display a summary of the basic information about this DataFrame and its data.

In [ ]:
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

**6.** Return the first 3 rows of the DataFrame `df`.

In [ ]:
df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

**7.** Select just the 'animal' and 'age' columns from the DataFrame `df`.

In [ ]:
df['animal']
df['age']

a    2.5
b    3.0
c    0.5
d    NaN
e    5.0
f    2.0
g    4.5
h    NaN
i    7.0
j    3.0
Name: age, dtype: float64

**8.** Select the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']`.

In [ ]:
df.iloc[[3, 4, 8] , [0, 1]]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

**9.** Select only the rows where the number of visits is greater than 3.

In [ ]:
df.loc[df['visits'] > 3]

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

**10.** Select the rows where the age is missing, i.e. is `NaN`.

In [ ]:
df[df['age'].isna()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

**11.** Select the rows where the animal is a cat *and* the age is less than 3.

In [ ]:
df[(df['animal'] == 'cat') & (df['age'] < 3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

**12.** Select the rows the age is between 2 and 4 (inclusive).

In [ ]:
df[(df['age'] >= 2) & (df['age'] <= 4) ]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

**13.** Change the age in row 'f' to 1.5.

In [ ]:
df.loc['f', 'age'] = 1.5

**14.** Calculate the sum of all visits (the total number of visits).

In [ ]:
print(df['visits'].sum())

19

**15.** Calculate the mean age for each different animal in `df`.

In [ ]:
print(df.groupby('animal')['age'].mean())

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

**16.** Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

In [ ]:
df.loc['k'] = [5.5, 'dog', 'no', 2]
df = df.drop('k')

**17.** Count the number of each type of animal in `df`.

In [ ]:
df['animal'].value_counts()

animal
cat      4
dog      4
snake    2
Name: count, dtype: int64

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order.

In [ ]:
df['age'].sort_values(ascending=False)
df['visits'].sort_values(ascending=True)

a    1
h    1
g    1
j    1
e    2
c    2
i    2
b    3
f    3
d    3
Name: visits, dtype: int64

**19.** The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.

In [ ]:
df.loc[df['priority'] == 'yes', 'priority'] = True
df.loc[df['priority'] == 'no', 'priority'] = False
df['priority']

a     True
b     True
c    False
d     True
e    False
f    False
g    False
h     True
i    False
j    False
Name: priority, dtype: object

**20.** In the 'animal' column, change the 'snake' entries to 'python'.

In [ ]:
df.loc[df['animal'] == 'snake', 'animal'] = 'python'
df['animal']

a       cat
b       cat
c    python
d       dog
e       dog
f       cat
g    python
h       cat
i       dog
j       dog
Name: animal, dtype: object

**21.** For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (hint: use a pivot table).

In [ ]:
df.groupby(['animal', 'visits'])['age'].mean()

animal  visits
cat     1         2.5
        3         2.5
dog     1         3.0
        2         6.0
        3         NaN
python  1         4.5
        2         0.5
Name: age, dtype: float64

## DataFrames: using complicated functions

Difficulty: *medium*

here you will be asked to generate your own test data and manipulate it using functions you will have to create.

**22.** Create a dataframe with 1000 rows and 3 columns. The columns are to be the following:
        - age: an integer, uniformly distributed between 20 to 65
        - skill: a float, normally distributed between 0 and 1, with expected value = 0.5 and standard deviation = 0.3
        - height: a float with 2 digits after the decimal point, between 1.5 to 2.0
you might want to use numpy.random

In [ ]:
import numpy as np
import pandas as pd

age = np.random.randint(20, 66, size=1000)
skill = np.random.normal(0.5, 0.3, size=1000)
skill = np.clip(skill, 0, 1)
height = np.round(np.random.uniform(1.5, 2.0, size=1000), 2)
df = pd.DataFrame({'age': age, 'skill': skill, 'height': height})
df.head(5)

   age     skill  height
0   55  1.000000    1.93
1   32  0.217287    1.67
2   60  0.616932    1.89
3   33  0.304117    1.92
4   50  0.377050    1.60

**23.** Add the dataframe a new columns, called salary, when:
        salary = 1000*((age^2)/1000 + 1.7*skill + 0.4*exp(-(height-1.7)**2)

In [ ]:
df.loc[:, 'salary'] = 1000*((df['age']**2)/1000 + 1.7*df['skill'] + 0.4*np.exp(-(df['height']-1.7)**2))
df.head(5)

   age     skill  height       salary
0   55  1.000000    1.93  5104.389942
1   32  0.217287    1.67  1793.027692
2   60  0.616932    1.89  5034.601643
3   33  0.304117    1.92  1987.099572
4   50  0.377050    1.60  3537.005152

**24.** Split the dataframe to groups by the age left digit and by the age. for each group compute:
        - the number of rows
        - the mean salary
        - the maximum height

In [ ]:
df['age_left_digit'] = df['age'] // 10
df.groupby('age_left_digit').agg({'age': 'count', 'salary': 'mean', 'height': 'max'})

                age       salary  height
age_left_digit
2               244  1819.334861     2.0
3               205  2391.720210     2.0
4               206  3215.016280     2.0
5               213  4205.921287     2.0
6               132  5064.189765     2.0

**25.** Now split the dataframe to groups by age. for each group compute the mean salary, split by the sum of heights.

In [ ]:
grouped = df.groupby('age').agg(
    mean_salary=('salary', 'mean'),
    sum_height=('height', 'sum')
)

grouped['mean_salary_div_sum_height'] = grouped['mean_salary'] / grouped['sum_height']

print(grouped.head(10))

     mean_salary  sum_height  mean_salary_div_sum_height
age
20   1683.285401       37.12                   45.347128
21   1590.511541       69.08                   23.024197
22   1660.719842       42.71                   38.883630
23   1881.594853       45.60                   41.263045
24   1808.034548       47.88                   37.761791
25   2058.721272       35.14                   58.586263
26   1794.714546       44.03                   40.761175
27   1977.918711       40.03                   49.410910
28   1867.235852       31.61                   59.071049
29   2159.105880       31.80                   67.896411

**26.** Add these lines to your code:

        import matplotlib.pyplot as plt
        %matplotlib inline
        
Now try using the pd.DataFrame.plot function to show your data. Try also using pd.DataFrame.boxplot.

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

**27.** Save the result as a csv, then read the csv to the variable "data" using pandas

In [ ]:
df = pd.DataFrame({'age': age, 'skill': skill, 'height': height})
df.to_csv('data.csv', index=False)
data = pd.read_csv('data.csv')
data.head()

   age     skill  height
0   55  1.000000    1.93
1   32  0.217287    1.67
2   60  0.616932    1.89
3   33  0.304117    1.92
4   50  0.377050    1.60

## DataFrames: beyond the basics

### Slightly trickier: you may need to combine two or more methods to get the right answer

Difficulty: *medium*

The previous section was tour through some basic but essential DataFrame operations. Below are some ways that you might need to cut your data, but for which there is no single "out of the box" method.

**28.** You have a DataFrame `df` with a column 'A' of integers. For example:
```python
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```

How do you filter out rows which contain the same integer as the row immediately above?

In [ ]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
df['diff'] = df['A'].diff()

filtered_df = df[df['A'].diff() != 0]
print(filtered_df)

   A  diff
0  1   NaN
1  2   1.0
3  3   1.0
4  4   1.0
5  5   1.0
8  6   1.0
9  7   1.0

**29.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.random(size=(5, 3)))
print("Original DataFrame:")
print(df, '\n')

df_sub = df.sub(df.mean(axis=1), axis=0)
print("After subtracting row mean:")
print(df_sub)

Original DataFrame:
          0         1         2
0  0.037691  0.005873  0.680726
1  0.816989  0.477774  0.879811
2  0.998912  0.761307  0.410118
3  0.228342  0.050263  0.291616
4  0.651106  0.768790  0.712520

After subtracting row mean:
          0         1         2
0 -0.203739 -0.235557  0.439296
1  0.092131 -0.247084  0.154952
2  0.275467  0.037861 -0.313328
3  0.038268 -0.139811  0.101542
4 -0.059699  0.057985  0.001715

**30.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [ ]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
print(df)
col_with_min_sum = df.sum().idxmin()
print(col_with_min_sum)

          a         b         c         d         e         f         g  \
0  0.638213  0.371229  0.443780  0.405039  0.603055  0.224432  0.366015
1  0.528998  0.535108  0.687989  0.001315  0.711929  0.969425  0.612647
2  0.048627  0.070196  0.211442  0.136417  0.395588  0.150184  0.308245
3  0.601916  0.781365  0.717130  0.402169  0.424748  0.881070  0.331232
4  0.223251  0.558780  0.994547  0.133037  0.037033  0.022186  0.911865

          h         i         j
0  0.886719  0.213228  0.478584
1  0.057145  0.618888  0.191209
2  0.627595  0.092641  0.599826
3  0.786712  0.846187  0.091920
4  0.818877  0.705857  0.109115
d

**31.** How do you count how many unique rows a DataFrame has (i.e. ignore all rows that are duplicates)?

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 2, 3, 3, 3],
    'B': [4, 5, 5, 6, 6, 6]
})

print(df)

num_unique_rows = len(df.drop_duplicates())
print(num_unique_rows)

   A  B
0  1  4
1  2  5
2  2  5
3  3  6
4  3  6
5  3  6
3

The next three puzzles are slightly harder...

**32.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels.)

In [4]:
import pandas as pd
import numpy as np

np.random.seed(0)
df = pd.DataFrame(np.random.randn(5, 10), columns=list('abcdefghij'))


for i in range(len(df)):
    nan_cols = np.random.choice(df.columns, 5, replace=False)
    df.loc[i, nan_cols] = np.nan


third_nan_col = df.isna().cumsum(axis=1).eq(3).idxmax(axis=1)

print(df)
print("\nThird NaN column per row:")
print(third_nan_col)

          a         b         c         d         e         f   g         h  \
0  1.764052  0.400157       NaN       NaN       NaN -0.977278 NaN -0.151357
1  0.144044  1.454274  0.761038       NaN  0.443863  0.333674 NaN       NaN
2 -2.552990  0.653619  0.864436       NaN       NaN -1.454366 NaN -0.187184
3       NaN  0.378163 -0.887786 -1.980796       NaN       NaN NaN  1.202380
4       NaN -1.420018 -1.706270  1.950775 -0.509652       NaN NaN       NaN

          i        j
0 -0.103219      NaN
1       NaN      NaN
2       NaN      NaN
3 -0.387327      NaN
4       NaN -0.21274

Third NaN column per row:
0    e
1    h
2    g
3    f
4    g
dtype: object

**33.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example:

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'),
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [7]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'),
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

result = (
    df.groupby('grps')['vals']
      .apply(lambda x: x.nlargest(3).sum())
      .reset_index(name='sum_top3')
)

print(result)

  grps  sum_top3
0    a       409
1    b       156
2    c       345

**34.** A DataFrame has two integer columns 'A' and 'B'. The values in 'A' are between 1 and 100 (inclusive). For each group of 10 consecutive integers in 'A' (i.e. `(0, 10]`, `(10, 20]`, ...), calculate the sum of the corresponding values in column 'B'.

In [10]:
df = pd.DataFrame({'A': np.random.randint(1, 101, 20),
                   'B': np.random.randint(1, 101, 20)})
sum = df.groupby(pd.cut(df['A'], bins=range(0, 101, 10))).agg({'B': 'sum'})
print(sum)

             B
A
(0, 10]     91
(10, 20]    52
(20, 30]   108
(30, 40]    44
(40, 50]    82
(50, 60]    63
(60, 70]    84
(70, 80]     0
(80, 90]   199
(90, 100]    0

/tmp/ipython-input-18961060.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sum = df.groupby(pd.cut(df['A'], bins=range(0, 101, 10))).agg({'B': 'sum'})

## DataFrames: harder problems

### These might require a bit of thinking outside the box...

...but all are solvable using just the usual pandas/NumPy methods (and so avoid using explicit `for` loops).

Difficulty: *hard*

**35.** Consider a DataFrame `df` where there is an integer column 'X':
```python
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
```
For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer). These values should therefore be `[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]`. Make this a new column 'Y'.

In [11]:
import pandas as pd

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

count = 0
Y = []

for val in df['X']:
    if val == 0:
        count = 0
    else:
        count += 1
    Y.append(count)

df['Y'] = Y
print(df)

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

**36.** Consider a DataFrame containing rows and columns of purely numerical data. Create a list of the row-column index locations of the 3 largest values.

**37.** Given a DataFrame with a column of group IDs, 'grps', and a column of corresponding integer values, 'vals', replace any negative values in 'vals' with the group mean.

**38.** Implement a rolling mean over groups with window size 3, which ignores NaN value. For example consider the following DataFrame:

```python
>>> df = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3,
                                 np.nan, 1, 7, 3, np.nan, 8]})
>>> df
   group  value
0      a    1.0
1      a    2.0
2      b    3.0
3      b    NaN
4      a    2.0
5      b    3.0
6      b    NaN
7      b    1.0
8      a    7.0
9      b    3.0
10     a    NaN
11     b    8.0
```
The goal is to compute the Series:

```
0     1.000000
1     1.500000
2     3.000000
3     3.000000
4     1.666667
5     3.000000
6     3.000000
7     2.000000
8     3.666667
9     2.000000
10    4.500000
11    4.000000
```
E.g. the first window of size three for group 'b' has values 3.0, NaN and 3.0 and occurs at row index 5. Instead of being NaN the value in the new column at this row index should be 3.0 (just the two non-NaN values are used to compute the mean (3+3)/2)

## Series and DatetimeIndex

### Exercises for creating and manipulating Series with datetime data

Difficulty: *easy/medium*

pandas is fantastic for working with dates and times. These puzzles explore some of this functionality.

**39.** Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers. Let's call this Series `s`.

**40.** Find the sum of the values in `s` for every Wednesday.

**41.** For each calendar month in `s`, find the mean of values.

**42.** For each group of four consecutive calendar months in `s`, find the date on which the highest value occurred.

**43.** Create a DateTimeIndex consisting of the third Thursday in each month for the years 2015 and 2016.

## Cleaning Data

### Making a DataFrame easier to work with

Difficulty: *easy/medium*

It happens all the time: someone gives you data containing malformed strings, Python, lists and missing data. How do you tidy it up so you can get on with the analysis?

Take this monstrosity as the DataFrame to use in the following puzzles:

```python
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm',
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
                               '12. Air France', '"Swiss Air"']})
```
(It's some flight data I made up; it's not meant to be accurate in any way.)

**44.** Some values in the the FlightNumber column are missing. These numbers are meant to increase by 10 with each row so 10055 and 10075 need to be put in place. Fill in these missing numbers and make the column an integer column (instead of a float column).

**45.** The From\_To column would be better as two separate columns! Split each string on the underscore delimiter `_` to give a new temporary DataFrame with the correct values. Assign the correct column names to this temporary DataFrame.

**46.** Notice how the capitalisation of the city names is all mixed up in this temporary DataFrame. Standardise the strings so that only the first letter is uppercase (e.g. "londON" should become "London".)

**47.** Delete the From_To column from `df` and attach the temporary DataFrame from the previous questions.

**48**. In the Airline column, you can see some extra puctuation and symbols have appeared around the airline names. Pull out just the airline name. E.g. `'(British Airways. )'` should become `'British Airways'`.

**49**. In the RecentDelays column, the values have been entered into the DataFrame as a list. We would like each first value in its own column, each second value in its own column, and so on. If there isn't an Nth value, the value should be NaN.

Expand the Series of lists into a DataFrame named `delays`, rename the columns `delay_1`, `delay_2`, etc. and replace the unwanted RecentDelays column in `df` with `delays`.

The DataFrame should look much better now.

## Using MultiIndexes

### Go beyond flat DataFrames with additional index levels

Difficulty: *medium*

Previous exercises have seen us analysing data from DataFrames equipped with a single index level. However, pandas also gives you the possibilty of indexing your data using *multiple* levels. This is very much like adding new dimensions to a Series or a DataFrame. For example, a Series is 1D, but by using a MultiIndex with 2 levels we gain of much the same functionality as a 2D DataFrame.

The set of puzzles below explores how you might use multiple index levels to enhance data analysis.

To warm up, we'll look make a Series with two index levels.

**50**. Given the lists `letters = ['A', 'B', 'C']` and `numbers = list(range(10))`, construct a MultiIndex object from the product of the two lists. Use it to index a Series of random numbers. Call this Series `s`.

**51.** Check the index of `s` is lexicographically sorted (this is a necessary proprty for indexing to work correctly with a MultiIndex).

**52**. Select the labels `1`, `3` and `6` from the second level of the MultiIndexed Series.

**53**. Slice the Series `s`; slice up to label 'B' for the first level and from label 5 onwards for the second level.

**54**. Sum the values in `s` for each label in the first level (you should have Series giving you a total for labels A, B and C).

**55**. Suppose that `sum()` (and other methods) did not accept a `level` keyword argument. How else could you perform the equivalent of `s.sum(level=1)`?

**56**. Exchange the levels of the MultiIndex so we have an index of the form (letters, numbers). Is this new Series properly lexsorted? If not, sort it.