<a href="https://colab.research.google.com/github/Avichay3/Full-training/blob/main/Feature_selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Feature Selection
```In this exercise you will experience a very under rated aspect of the data scientist job: feature selection.
We will look at the most common algorithms, examine them and will develop new feature selection algorithms.
The data you will be working on is pretty hard: you will soon find out why :)```

```Note: When questions are asked (you can identify a question by '?'), answer it in another cell and be prepared to talk about it with your tutor.```

```~Ittai Haran```

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
!ls /content/drive/MyDrive/training_files

data.csv  number_of_words.csv  pos_tag_count.csv  test.csv  train.csv

In [4]:
df = pd.read_csv("/content/drive/MyDrive/training_files/data.csv")
df.head(5)

,Unnamed: 0,m7497.96,m7496.04,m7494.11,m7492.18,m7490.25,m7488.32,m7486.39,m7484.46,m7482.54,...,LSTD,LSTN,REF1,REF2,REF3,REF7,RELI,TMAP,TMFI,SOC
0,0,0.302553,0.301137,0.299748,0.300354,0.302679,0.303799,0.301702,0.298936,0.298126,...,-0.716713,-0.090016,-0.861091,-0.537106,-0.722567,-0.646673,1.687734,0.190708,0.056843,0.353258
1,1,0.270192,0.268555,0.266964,0.267938,0.271013,0.272346,0.269870,0.266976,0.266544,...,-0.716713,-0.090016,-0.861091,-0.537106,-0.722567,-0.646673,1.687734,0.190708,0.056843,-0.264023
2,2,0.317433,0.316265,0.314948,0.315224,0.316942,0.317764,0.316067,0.313874,0.313301,...,-1.282552,-0.088336,-0.935273,-0.631725,-0.832298,-0.814516,1.806660,0.190708,0.056843,0.064152
3,3,0.261116,0.259767,0.258384,0.259001,0.261310,0.262417,0.260534,0.258039,0.257246,...,-1.282552,-0.088336,-0.935273,-0.631725,-0.832298,-0.814516,1.806660,0.190708,0.056843,-0.318719
4,4,0.260038,0.258425,0.256544,0.257030,0.259602,0.260786,0.258717,0.256352,0.255902,...,-1.206971,0.011420,-0.906182,-0.528757,-0.795031,-0.780242,0.430513,0.190708,0.056843,-0.310905

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1157 entries, 0 to 1156
Columns: 3595 entries, Unnamed: 0 to SOC
dtypes: float64(3594), int64(1)
memory usage: 31.7 MB

In [6]:
df.describe()

,Unnamed: 0,m7497.96,m7496.04,m7494.11,m7492.18,m7490.25,m7488.32,m7486.39,m7484.46,m7482.54,...,LSTD,LSTN,REF1,REF2,REF3,REF7,RELI,TMAP,TMFI,SOC
count,1157.000000,1157.000000,1157.000000,1157.000000,1157.000000,1157.000000,1157.000000,1157.000000,1157.000000,1157.000000,...,1157.000000,1157.000000,1157.000000,1157.000000,1157.000000,1157.000000,1157.000000,1157.000000,1157.000000,1157.000000
mean,578.000000,0.245666,0.240454,0.235631,0.238994,0.248176,0.251674,0.243996,0.235162,0.232874,...,-0.413636,-0.092569,-0.698528,-0.506340,-0.661642,-0.638464,0.276786,0.563194,0.746303,0.080414
std,334.141437,0.114439,0.114804,0.115288,0.115075,0.114185,0.113603,0.113974,0.114723,0.115031,...,0.686773,0.861165,0.272107,0.329785,0.365572,0.326460,1.074667,0.649622,0.825242,1.141989
min,0.000000,-0.042260,-0.048559,-0.055518,-0.052353,-0.040608,-0.034516,-0.042619,-0.053856,-0.057699,...,-1.906958,-2.720276,-1.127273,-1.642857,-1.265010,-1.115423,-0.639823,-0.670742,-0.862741,-0.857863
25%,289.000000,0.171156,0.166020,0.161043,0.164470,0.173065,0.175476,0.169058,0.161094,0.159238,...,-0.906601,-0.622874,-0.900364,-0.753247,-0.917184,-0.881048,-0.452939,0.190708,0.056843,-0.615639
50%,578.000000,0.252899,0.247918,0.244594,0.247920,0.255784,0.258029,0.251061,0.243775,0.241991,...,-0.476813,-0.019511,-0.754182,-0.531540,-0.753623,-0.740423,-0.130139,0.316667,0.729111,-0.349974
75%,867.000000,0.315508,0.310354,0.304742,0.309540,0.317786,0.320834,0.314091,0.304301,0.303235,...,0.080083,0.631670,-0.594909,-0.269944,-0.445135,-0.432460,0.532450,0.955935,1.414215,0.275121
max,1156.000000,0.730793,0.725493,0.720711,0.723293,0.731205,0.733872,0.726075,0.717652,0.716443,...,1.320112,1.519218,0.285818,0.335807,0.366460,0.290323,5.612300,2.161892,2.976315,7.619989

```Train a simple Random Forest model on the data. Use your knowledge to make it as good a model as you can. Don't forget to split the data to train and test segments.```

In [7]:
df["SOC"].value_counts()

SOC
-0.654708    19
-0.732844    18
-0.740658    17
-0.748472    16
-0.693776    15
             ..
 3.056795     1
 2.838012     1
 4.369495     1
 2.533278     1
 3.970996     1
Name: count, Length: 350, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split

X = df.drop(columns=["SOC", "Unnamed: 0"])
y = df["SOC"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42
)

In [9]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(
    n_estimators=500,
    max_depth=None,
    random_state=42,
    n_jobs=-1
)

rf.fit(X_train, y_train)

KeyboardInterrupt:

In [ ]:
from sklearn.metrics import r2_score, mean_squared_error

y_train_pred = rf.predict(X_train)
y_test_pred = rf.predict(X_test)

train_r2 = r2_score(y_train, y_train_pred)
test_r2 = r2_score(y_test, y_test_pred)

train_rmse = np.sqrt(mean_squared_error(y_train, y_train_pred))
test_rmse = np.sqrt(mean_squared_error(y_test, y_test_pred))

print("Train r2:", train_r2)
print("Test r2:", test_r2)
print("Train RMSE:", train_rmse)
print("Test RMSE:", test_rmse)

```Use model.feature_importances_ to select the 100 most important features. Use these features to train your model. Did you get better results on the train segment? what are results on the test segment?
How does model.feature_importances_ work? Some features have 0 importance. Why?```

```Well, that didn't work quite so good. Let's try a different approach. Now select the 100 features that are most correlated to the data. What results did you get now? You got so far two groups of feature selected. Are they similar to one another? Why or why not?```

```Now cluster the features by their correlation to one another. Make sure you have at least ~30 clusters. Pick from each cluster the feature most correlated to the target. What are your results now? What clustering algorithm did you use?```

```Before we continue, read the documentation of sklearn.feature_selection. What other feature selection algorithms did you find there? try one of them on your data.```

```You are about to be very surprised. select 100 features randomly and evaluate the model trained with them. Repeat it 100 times. What is the best set of feature you got? How is it compared to the other subsets you got so far? Can you explain it?```

```Now it's your time to enter the office's competition for feature selection. Invent your own feature selection algorithm. Make it a good one (because if it isn't, your tutor might ask you to implement one of the other algorithms proposed by the office's members, and that might be awful ;) ) Before you act, talk about your idea with your tutor.```